<%- include('./components/header.ejs') %>
  </head>

  <body>
    <%- include('./components/topnav.ejs') %>
      <%- include('./components/sidenav.ejs') %>
        <section class="d-flex justify-content-end">
          <div class="section px-2 px-lg-4">
            <div class="create-client-section">
              <div
                class="d-flex justify-content-lg-start justify-content-center px-md-4 px-2 py-2 my-3 bg-white shadow-sm">
                <h4 style="color: var(--grey);">Create Client</h4>
              </div>
              <div class="create-client pb-3">
                <form method="POST" action="/admin/client_register"
                  class="d-flex flex-column justify-content-start align-items-lg-start align-items-center">

                  <input class="mb-2 p-2 w-50 border rounded" name="name" type="text" placeholder="Client name">
                  <input class="mb-2 p-2 w-50 border rounded" name="contact" type="number" placeholder="Client Contact">
                  <input class="mb-2 p-2 w-50 border rounded" name="email" type="email" placeholder="Client Email">
                  <input class="mb-2 p-2 w-50 border rounded" name="location" type="text" placeholder="Location">
                  <div class="mb-2 w-50 border rounded input">
                    <input class="w-100 p-2 border rounded" name="password" id="password" type="password"
                      placeholder="Password" placeholder="Password"> <i onclick="showPassword(event)"
                      class="bi bi-eye-fill" style="margin: -3rem;cursor: pointer;font-size: 1.2rem;"></i> </input>
                    <script>
                      function showPassword(e) {
                        e.currentTarget.classList.toggle('bi-eye-slash-fill');
                        if (e.currentTarget.className.includes('bi-eye-slash-fill'))
                          return password.setAttribute("type", "text");
                        else
                          return password.setAttribute("type", "password");
                      }
                    </script>
                  </div>
                  <button type="submit" class="btn btn-red w-50">Create</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <%- include('./components/footer.ejs') %>