<nav class="navigation-bar d-flex justify-content-between">
    <div class="navigation-bar__left pl-4 d-lg-flex d-none align-items-center">
      <img src="/asset/Polygon 1.svg" alt="logo">
      <span class="ml-2 font-weight-bold" style="color: var(--red);">LOGO</span>
    </div>
    <div class="d-lg-none d-flex align-items-center ml-3 navigation-bar__hamburger" id="myhamburger" onclick="toggleSideNav()">
      <i style="font-size: 1.7rem;" class="bi bi-list text-white"></i>
    </div>
    <div class="navigation-bar__right d-flex justify-content-center align-items-center mr-4">
      <img src="/asset/Maya.svg" alt="user-icon">
    </div>
  </nav>